
#contact-form h1{
        font-size: 2.7rem;
    }

#contact-form > p{
        font-size: 0.8rem;
    }
#contact-form .form-main div input, #contact-form .form-main div textarea{
        font-size: 0.9rem;
    }
#gallery{
    grid-template-rows: repeat(auto-fill, 15rem);
    grid-template-columns: repeat(auto-fill, 15rem);
}
.gallery-div{
    width: 15rem;
    height: 15rem;
}
.gallery-div img{
    width: 15rem;
    height: 15rem;
}

#footer .mailing-list .subscribe input:nth-child(1){
        width: 150px;
    }

#footer .mailing-list .subscribe input:nth-child(2){
        width: 100px;
    }

#footer .mailing-list h1{
        max-width: 15rem;
    }

#footer .mailing-list p{
        max-width: 15rem;
    }

#contact-form .form-main{
        width: 70vw;
    }

#contact-form .form-main div input, #contact-form .form-main div textarea{
        width: 70vw
    }
@media screen and (max-width: 700px) {
  
    #showcase img{
        height: 10rem;
    }
    #top-bar{
        flex-direction: column !important;
        height: 100%;
    }
    #top-bar .socialmedia a{
        display: none;
    }
    
    #believe img{
        width: 6rem;
    }
    #believe .pry-color{
        font-size: 1rem;
    }
    #believe p{
        font-size: 0.8rem;
    }
    
    .whatwedo{
        font-size: 0.8rem;
    }

    .howwedo{
        font-size: 0.8rem;
    }

    #gallery{
        grid-template-rows: repeat(auto-fill, 9rem);
        grid-template-columns: repeat(auto-fill, 9rem);
    }
    .gallery-div{
        width: 9rem;
        height: 9rem;
    }
    .gallery-div img{
        width: 9rem;
        height: 9rem;
    }
    #footer{
        
        flex-direction: column;
        height: 100%;
        align-items: center;
        max-width: 100vw !important;
    }
    #footer .site-links{
        display: none;
    }
    #footer .footer-logo{
        display:flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        margin: 1rem auto !important;
    }
    #footer .footer-logo img{
        width: 15rem;
        margin-bottom: 10px;
    }
    #footer .footer-logo p{
        display: none;
    }
    #footer .mailing-list{
        width: 100vw;
    }
    #footer .mailing-list h1{
        font-size: 1.3rem;
        margin: 0 auto !important;
        text-align: center !important;
        
    }
    #footer .mailing-list p{
        margin: 10px auto !important;
        text-align: center !important;
        font-size: 0.9;
        max-width: 100vw !important;
    }
    #footer .mailing-list .subscribe{
        width: 250px !important;
        margin: 0 auto !important;
        
    }
    #footer .mailing-list .subscribe input:first-child{
        width: 250px !important;
        height: 40px;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
        border: solid 1px var(--primary-color);
    }
    #footer .mailing-list .subscribe input:last-child{
        width: 250px !important;
        height: 40px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    #footer .mailing-list .socialmedia, #footer .mailing-list .socialmedia {
        font-size: 1.6rem;
        margin: 0 auto !important;
        width: 100vw;

    }
    .copyright{
        display: inline;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
    }

}