@font-face {
    font-family: 'Adobe Caslon';
    src: url('../font/ACaslonPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
:root{
    --primary-color: rgb(255, 168, 3);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Adobe Caslon', sans-serif;

}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.pry-color{ color:var(--primary-color);}
.links{
    color: blue;
}
#showcase{
    background: url(../img/background-10.jpeg) no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -9;
    position: relative;
}
#showcase::after{
    content: '';
    background: #000000;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    opacity: 0.8;
    position: absolute;
}
#showcase img{
    height: 20rem;
    opacity: 0.9;
    /* position: fixed; */
    z-index: 1;
}

/* Header */
#top-bar{
    height: 5rem;
    width: 100vw;
    background-color: rgb(255, 168, 3);
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}
#top-bar img{
    height: 4rem;
}

#top-bar .nav ul{
    display: flex;
    padding: 1rem;
    
}
#top-bar .nav ul li a{
    padding: 0rem 0.5rem;
    border-right: solid 1px;
    font-size: 1rem;
    Color:rgba(47, 51, 60, 0.7);
    font-weight: 700;
}
#top-bar .nav ul li .last{
    border-right: none;
}
#top-bar .socialmedia a{
    padding: 7px;
}
/* home page */
#home{
    background-color: rgb(255, 255, 255);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home div h1{
    font-size: 1.5rem;
    color: #ffff;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    
}
#home div h1 span:nth-child(2){
    display: block;
    font-family: 'Slabo 27px', serif;
    color: #ffff;
}
#home img{
    width: 20rem;
}
/* Our ingredients */
#ingredient{
    width: 100vw;
    height: 60vh;
    display: flex;
}
#ingredient .ingredient-img{
    background: url(../img/ingredient-1.jpg) no-repeat center center/cover;
    width:50vw;
}
#ingredient .ingredient-text{
    width:50vw;
    background-color: #ffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(36, 36, 36)
}

